* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container label {
    text-align: center;
    font-size: 20px;
}

.first_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.middle_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.last_name {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.age {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.address {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.education {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.education select {
    padding: 20px;
    margin: 20px;
}

.salary-expectations {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.education:hover {
    padding: 6px;
}

.salary-expectations:hover {
    padding: 6px;
}

.resume {
    padding: 5px 5px;
    text-align: center;
}

.resume:hover {
    padding: 6px 6px;
}

.submit-btn {
    padding: 10px 10px;
    margin: 10px 10px;
}

.submit-btn a {
    padding: 10px 5px;
    margin: 10px 10px;
}